Source: ev3dev-rules
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 3.9.8
Section: kernel
Homepage: http://www.ev3dev.org
Vcs-Git: https://github.com/ev3dev/ev3dev-rules.git
Vcs-Browser: https://github.com/ev3dev/ev3dev-rules

Package: ev3dev-rules
Architecture: all
Depends: ${misc:Depends}
Description: Udev rules for ev3dev drivers
 Provides udev rules for setting permissions for the ev3dev driver stack.
